In [1]:
a=10
print(a, type(a))
a="python"
print(a, type(a))
a=True
print(a, type(a))
a=False
print(a, type(a))
a=None
print(a, type(a))
a=[1,2,3,4]
print(a, type(a))
a=(1,2,4)
print(a, type(a))
a={1,2,3}
print(a, type(a))
a=10.34
print(a, type(a))
a=10+2j
print(a, type(a))
a={"name":"jay","age":23}
print(a, type(a))

10 <class 'int'>
python <class 'str'>
True <class 'bool'>
False <class 'bool'>
None <class 'NoneType'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 4) <class 'tuple'>
{1, 2, 3} <class 'set'>
10.34 <class 'float'>
(10+2j) <class 'complex'>
{'name': 'jay', 'age': 23} <class 'dict'>

In [2]:
# operations
# arithmetic operators: +,-,*,/,**,//,%
# boolean operators: is,int,not,>,<,>=,<=,!=
# bitwise operators: &, |, ^
# union operators: and or

In [3]:
a=10
b=20
print(a+b)

30

In [4]:
s="python"
s1="program"
print(s+s1)

pythonprogram

In [5]:
c1=1+2j
c2=2+3j
print(c1+c2)

(3+5j)

In [6]:
d1={1:1,2:4}
d2={1:1,2:8}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [7]:
a=10
b="python"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
a=10
b=23.45
print(a, type(a))
print(b, type(b))
print(a+b)

10 <class 'int'>
23.45 <class 'float'>
33.45

In [10]:
a=10
b="python"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
a=10
b="python"
print(a*b)

pythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [12]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [13]:
a=1
b=2
print(a>b)

False

In [14]:
a=3
b=1
print(a>b)

True

In [15]:
a="python"
b="applebanana"
print(a>b)

True

In [16]:
# apple orange grape banana mango ant
#ant apple banana grape orange
print("apple">"ant")

True

In [17]:
#internally strings compare the ascii value.
print(ord("a")) # ord returns the ascii value
print(ord("b"))

97
98

In [20]:
print("a">"A")
print(ord("a"),ord("A"))

True
97 65

In [1]:
print(10+20/5)

14.0

In [2]:
print((10+20)/5)

6.0

In [3]:
print(1000/500/100) # l2r=0.02, r2l=200

0.02

In [4]:
print(1000/(500/100))

200.0

In [5]:
# write a prgram to calculate (a+b) whole square.
a=10
b=20
#**
print(10**2)

100

In [6]:
print(8**2)

64

In [7]:
a=10
b=20
print(a+b)

30

In [8]:
a=input("Enter a value:")
b=input("enter b value:")
print(a,b)

Enter a value:10
enter b value:20
10 20

In [9]:
a=input("Enter a value:")
b=input("enter b value:")
print(a+b)

Enter a value:10
enter b value:20
1020

In [10]:
a=input("Enter a value:")
b=input("enter b value:")
print(a, type(a))
print(b, type(b))
print(a+b)

Enter a value:10
enter b value:20
10 <class 'str'>
20 <class 'str'>
1020

In [11]:
a="10"
b=10
print(a, type(a))
print(b, type(b))

10 <class 'str'>
10 <class 'int'>

In [13]:
a="10"
b=int(a)
print(a, type(a))
print(b, type(b))

10 <class 'str'>
10 <class 'int'>

In [14]:
a=input("Enter a value:")
b=input("enter b value:")
print(a, type(a))
print(b, type(b))
a=int(a)
b=int(b)
print("after conversion")
print(a, type(a))
print(b, type(b))
print(a+b)

Enter a value:10
enter b value:20
10 <class 'str'>
20 <class 'str'>
after conversion
10 <class 'int'>
20 <class 'int'>
30

In [15]:
a="10"
print(int(a))

10

In [16]:
a="10.23"
a=int(a)
print(a)

ValueError: invalid literal for int() with base 10: '10.23'

In [17]:
a="10.23"
a=float(a)
print(a,type(a))

10.23 <class 'float'>

In [18]:
a=input("Enter a value:")
b=input("enter b value:")
print(a, type(a))
print(b, type(b))
a=float(a)
b=float(b)
print("after conversion")
print(a, type(a))
print(b, type(b))
print(a+b)

Enter a value:12
enter b value:34
12 <class 'str'>
34 <class 'str'>
after conversion
12.0 <class 'float'>
34.0 <class 'float'>
46.0

In [19]:
a=input("Enter a value:")
b=input("enter b value:")
print(a, type(a))
print(b, type(b))
a=float(a)
b=float(b)
print("after conversion")
print(a, type(a))
print(b, type(b))
print(a+b)

Enter a value:10.23
enter b value:45.67
10.23 <class 'str'>
45.67 <class 'str'>
after conversion
10.23 <class 'float'>
45.67 <class 'float'>
55.900000000000006

In [ ]:
# decimal, ocatla, binary, hexadecimal number system